$OldStandardFont : 'Old Standard TT', serif;
$RalewayFont: 'Raleway', sans-serif;
$White: #fff;
$SmokyBlack: #0C0910;
$GraniteGray: #646266;
$QuickSilver: #A6A5A8;
$Isabelline: #ECECEC;
$LightGray: #D1D1D1;
$XXX-Large: 50px;
$XX-Large: 30px;
$X-Large: 20px;
$Large: 18px;
$Medium: 16px;
$Small: 14px;
$X-Small: 12px;